html {
  box-sizing: border-box;
  font-size: 100%;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  margin: 0;
  padding: 10rem 1rem;
  font-family: "Kumbh Sans", sans-serif;
  background-image: linear-gradient($Softviolet, $Softblue);
}

h1,
h2,
h3 {
  margin-top: 0;
}

@media (min-width: 56.25rem) {
  body {
    padding: 5rem;
  }
}
